db/*
!db/.gitkeep
assets/assets
assets/translation/gamedata/
assets/translation/*.sql
!assets/translation/update_crackable.sql
!assets/translation/fix_room_items.sql
assets/swf
assets/usercontent/**/*.png
~$*.xlsx
export/
assets/usercontent/imageproxy/