db/*
!db/.gitkeep
assets/assets
assets/translation/gamedata/
assets/translation/*.sql
!assets/translation/update_crackable.sql
!assets/translation/fix_room_items.sql
!assets/translation/fix_song_disks.sql
assets/swf
assets/usercontent/**/*.png
~$*.xlsx
export/
assets/usercontent/imageproxy/
atomcms/cache/*
atomcms/storage/*
atomcms/logs/*
!atomcms/cache/.gitkeep
!atomcms/storage/.gitkeep
!atomcms/logs/.gitkeep
*.env
nitro/*.json
!example-*