version: '3.7'

services:
  arcturus:
    build:
      context: arcturus
    env_file:
      - .env
    volumes:
      - ./assets/:/app/assets/
    ports:
      #- 3000:3000 # gameport
      #- 3001:3001 # rcon
      - 2096:2096 # websocket port
    depends_on:
      - db
    restart: unless-stopped
    networks: [nitro]

  nitro:
    build:
      context: nitro
    env_file:
      - .env
    volumes:
      - ./nitro/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nitro/renderer-config.json:/usr/share/nginx/html/renderer-config.json
      - ./nitro/ui-config.json:/usr/share/nginx/html/ui-config.json
    ports:
      - 3000:80
    restart: unless-stopped
    networks: [nitro]

  assets-build:
    build:
      context: assets
    env_file:
      - .env
    volumes:
      - ./assets/configuration.json:/app/configuration.json
      - ./assets/assets:/app/assets
    restart: "no"
    networks: [nitro]

  db:
    image: mysql:8
    depends_on:
      - backup
    env_file:
      - .env
    ports:
      - 3310:3306
    volumes:
      - ./db/data:/var/lib/mysql
      - ./db/conf.d:/etc/mysql/conf.d
      - ./db/dumps:/docker-entrypoint-initdb.d
    restart: unless-stopped
    networks: [nitro]

  backup:
    image: tiredofit/db-backup
    volumes:
      - ./db/backup:/backup
    environment:
      - TIMEZONE=UTC
      - DB_TYPE=mysql
      - DB_HOST=db
      - DB_USER=$MYSQL_USER
      - DB_PASS=$MYSQL_PASSWORD
      - DB_NAME=$MYSQL_DATABASE
      - COMPRESSION=GZ
      - ENABLE_CHECKSUM=TRUE
      - CHECKSUM=SHA1
      - DB_DUMP_BEGIN=0315
      - DB_DUMP_FREQ=1440
      - DB_CLEANUP_TIME=10080
      - CREATE_LATEST_SYMLINK=FALSE
      - CONTAINER_ENABLE_MONITORING=FALSE
    restart: unless-stopped
    networks: [nitro]

  assets:
    image: nginx:alpine
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - 8080:80
    volumes:
      - ./assets/nginx:/etc/nginx/conf.d/
      - ./assets/:/usr/share/nginx/html
    networks: [nitro]

  imager:
    build:
      context: imager
    depends_on:
      # proxied through nginx of assets
      - assets
    env_file:
      - .env
    volumes:
      - ./assets/:/app/assets/
    restart: unless-stopped
    networks: [nitro]

  imgproxy:
    image: ghcr.io/willnorris/imageproxy
    depends_on:
      # proxied through nginx of assets
      - assets
    volumes:
      - "./assets/usercontent/imageproxy/cache:/tmp/imageproxy"
    env_file:
      - .env
    restart: unless-stopped
    networks: [nitro]

networks:
  nitro:
